<div class="sidebar" [ngClass]="{ 'collapsed': isCollapsed }">
    <!-- Botón toggle Commmented because it doesn't work properly -->
    <!-- <button class="toggle-btn" (click)="toggleSidebar()">
      <span [ngClass]="isCollapsed ? 'icon-chevron-right' : 'icon-chevron-left'">‹</span>
    </button> -->
  
    <!-- Logo -->
    <div class="logo">
      <img src="logo.png" alt="EasyInjection logo">
      <span *ngIf="!isCollapsed">EasyInjection</span>
    </div>
  
    <!-- Menú -->
    <ul>
      <a routerLink="/dashboard" routerLinkActive="active">
        <li>
          <span class="icon">🏠</span>
          <span *ngIf="!isCollapsed">Inicio</span>
        </li>
      </a>
      <a routerLink="/dashboard/theory" routerLinkActive="active">
        <li>
          <span class="icon">📚</span>
          <span *ngIf="!isCollapsed">Teoría</span>
        </li>
      </a>
      <a routerLink="/dashboard/new-scan" routerLinkActive="active">
        <li>
          <span class="icon">🎯</span>
          <span *ngIf="!isCollapsed">Nuevo Escaneo</span>
        </li>
      </a>
      <a routerLink="/dashboard/scans" routerLinkActive="active">
        <li> 
          <span class="icon">📋</span>
          <span *ngIf="!isCollapsed">Mis Escaneos</span>
        </li>
      </a>
      <a routerLink="/dashboard/scoreboard" routerLinkActive="active">
        <li> 
          <span class="icon">🏆</span>
          <span *ngIf="!isCollapsed">Scoreboard</span>
        </li>
      </a>
    </ul>
  
    <!-- Footer -->
    <div class="footer">
      <a routerLink="/user/account" routerLinkActive="active">
        <li>
          <span class="icon">👤</span>
          <span *ngIf="!isCollapsed">Mi Cuenta</span>
        </li>
      </a>
      <a href="#" (click)="logout()">
        <li>
          <span class="icon">🚪</span>
          <span *ngIf="!isCollapsed">Cerrar Sesión</span>
        </li>
      </a>
    </div>
  </div>
  