<div class="sidebar" [ngClass]="{ 'collapsed': isCollapsed }">
    <button class="toggle-btn" (click)="toggleSidebar()" [attr.aria-label]="isCollapsed ? 'Expandir menú' : 'Contraer menú'">
      <mat-icon fontSet="material-icons">{{ isCollapsed ? 'menu' : 'menu_open' }}</mat-icon>
    </button>
  
    <div class="logo-container">
    <div class="logo">
      <img src="logo.png" alt="EasyInjection logo">
      <span *ngIf="!isCollapsed">EasyInjection</span>
      </div>
    </div>
  
    <ul>
      <a routerLink="/dashboard" routerLinkActive="active">
        <li>
          <fa-icon [icon]="faHome"></fa-icon>
          <span *ngIf="!isCollapsed">Inicio</span>
        </li>
      </a>
      <a routerLink="/dashboard/theory" routerLinkActive="active">
        <li>
          <fa-icon [icon]="faBook" class="icon"></fa-icon>
          <span *ngIf="!isCollapsed">Teoría</span>
        </li>
      </a>
      <a routerLink="/dashboard/new-scan" routerLinkActive="active">
        <li>
          <fa-icon [icon]="faBullseye" class="icon"></fa-icon>
          <span *ngIf="!isCollapsed">Nuevo Escaneo</span>
        </li>
      </a>
      <a routerLink="/dashboard/scans" routerLinkActive="active">
        <li> 
          <fa-icon [icon]="faTh" class="icon"></fa-icon>
          <span *ngIf="!isCollapsed">Mis Escaneos</span>
        </li>
      </a>
      <a routerLink="/dashboard/scoreboard" routerLinkActive="active">
        <li> 
          <fa-icon [icon]="faTrophy" class="icon"></fa-icon>
          <span *ngIf="!isCollapsed">Scoreboard</span>
        </li>
      </a>
    </ul>
  
    <div class="footer">
      <a routerLink="/user/account" routerLinkActive="active">
        <li>
          <fa-icon [icon]="faUser" class="icon"></fa-icon>
          <span *ngIf="!isCollapsed">Mi Cuenta</span>
        </li>
      </a>
      <a href="#" (click)="logout()">
        <li>
          <fa-icon [icon]="faSignOutAlt" class="icon"></fa-icon>
          <span *ngIf="!isCollapsed">Cerrar Sesión</span>
        </li>
      </a>
    </div>
  </div>
  